$primary-color: #17a2b8;
$blue: #3498db;
$red: #e74c3c;
$light-green: #2ecc71;
$light-grey: #ecf0f1;
$max-width: 110rem;

.blue {
  background-color: $blue;
}

.red {
  background-color: $red;
}

.l-gray {
  background-color: $light-grey;
  color: #333 !important;
}

.l-green {
  background-color: $light-green;
}
