@mixin set-profile-picture($width, $height, $border-radius, $border) {
  background: url("../img/profile-pic.jpg") no-repeat center center / cover;
  width: $width;
  height: $height;
  border-radius: $border-radius;
  @if $border {
    border: 3px solid $primary-color;
  }
}

@mixin set-heading-size($font-size, $font-weight) {
  text-align: center;
  font-size: $font-size;
  font-weight: $font-weight;
}
