@import "resets/reset";
@import "mixins";
@import "colors";
@import "misc";
section {
  padding-top: 3rem;
}

.container {
  width: $max-width;
  margin: 0 auto;
}

.m-heading {
  @include set-heading-size(4.2rem, bold);
}

.s-heading {
  @include set-heading-size(2.8rem, bold);
}

.pill {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 2.6rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  margin-right: 0.3rem;
  margin-bottom: 1.2rem;
  box-shadow: 0.3rem 0.3rem 0.3rem grey;
}

.header {
  position: relative;

  .btn-menu {
    padding: 2rem 2rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 3;
    cursor: pointer;
    background-color: rgba(black, 0.5);

    border-radius: 4px;

    &__bar,
    &__bar::after,
    &__bar::before {
      content: "";
      position: absolute;
      height: 0.2rem;
      width: 2.5rem;
      background-color: #fff;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: 650ms;
    }

    &__bar {
      &::before {
        top: -2rem;
      }

      &::after {
        top: 2rem;
      }
    }

    &.close {
      .btn-menu__bar {
        background-color: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }
        &::after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
  }

  .menu {
    display: flex;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 2;
    padding: 3.2rem;
    transition: all 0.5s ease-out;
    transform: translateY(-100%);

    .profile-pic {
      @include set-profile-picture(14rem, 14rem, 50%, $primary-color);
    }

    .nav-links {
      width: 75%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        margin-bottom: 2.4rem;
        a {
          text-transform: uppercase;
          font-size: 4.2rem;
          padding: 1.6rem 2rem;
          color: #fff;
          transition: color 0.3s ease-in;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    &.open {
      display: flex;
      transform: translateY(0);
    }
  }
}

.landing {
  //Photo by Gally from Pexels
  background-image: linear-gradient(rgba(1, 0, 0, 0.5), rgb(1, 1, 1)),
    url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.6rem 1.6rem;
    .profile-pic {
      @include set-profile-picture(18rem, 18rem, 50%, $primary-color);
      margin: 5rem 0 3.2rem 0;
    }

    h1 {
      font-size: 6rem;
      color: #fff;
      margin-bottom: 3.2rem;
    }

    .social-links {
      width: 40rem;
      padding: 3.2rem;
      display: flex;
      justify-content: space-between;
      &__icon {
        a {
          transition: color 0.2s ease-out;
          color: #fff;
        }

        &:hover {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}

/* About */
.about {
  height: 100vh;
  padding-bottom: 3rem;

  .about-info {
    //background-color: tomato;
    width: 100%;
    display: flex;
    margin-top: 3.2rem;
    justify-content: space-between;

    &__picture {
      @include set-profile-picture(25.6rem, 25.6rem, 0, false);
    }

    &__text {
      align-self: flex-start;
      padding: 0 0 2.4rem 2.4rem;
      width: 75%;
      //background-color: $primary-color;
      font-size: 2.4rem;
      text-align: left;
    }
  }

  .skills {
    margin: 6rem 0 3rem 0;
    padding: 0 1.6rem;

    &__wrapper {
      margin-top: 1.8rem;
      text-align: center;
      li {
        display: inline-block;
      }
    }
  }
}
